.heading
{
    font-size:24px;
    width: 100%;
    margin:0px;
    background: gray;
}
.heading_div
{
    float:none;
    background: white;
    padding: 10px;
    border-radius: 20px; 
    color:black;
}
.heading_div2
{

    font-size: 18px;
    background: rgb(255, 0, 85);
}
